/* Color de Fondo #2e2e2a
   color de hover #f9a91a*/

body{
    font-family: sans-serif;
}

nav{
    /*outline: 1px solid green;*/

}

ul{
    /*outline: 1px solid greenyellow;*/
    list-style: none;
    padding: 0;
    margin: 0;
    background: #2e2e2a;
    line-height: 40px;
    overflow: auto;
    /*Con overflow devuelves el contexto a la etiqueta contenedor*/
}

li{
    /*outline: 1px solid violet;*/
    width: 100px;
    /*display: inline-block;*/
    text-align: center;
    float: left;
    /*float saca de contexto a la etiqueta contenedor*/
}

a{
    /*outline: 1px solid red;*/
    text-decoration: none;
    color: #fff;
    display: block;
}

a:hover{
    background:#f9a91a;
    color: #000;
}